# Environnement virtuel
.venv/
venv/
ENV/

# PyCharm
.idea/

# Cache Python
__pycache__/
*.py[cod]
*.class

# Distribution / Packagings
dist/
build/
*.egg-info/

.vscode/
A_frugal_arduino-based_spirometer_for_low-resource.pdf
